#header{
  height: 50px;
  background: #e8de94;
  color: #1A1B65;
}

#branding h1{
  color: #1A1B65;
}

#user-tools div, a:link, a:visited{
  color: #1A1B65;
}

a:link,
a:visited {
  color: #4ee3d2;
}

div.breadcrumbs {
  background: #4ee3d2;
}

div.breadcrumbs a {
  color: #1A1B65;
}

.module h2, .module caption, .inline-group h2 {
  background: #1A1B65;
}

.module h2, .module caption, .inline-group h2 a {
  color: #1A1B65;
}
